* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #261C1D !important;
}

.home-tron {
  height: 90vh;
  margin-bottom: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://cdn1.matadornetwork.com/blogs/1/2014/08/Smith-Rock.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-title .container {
  display: flex;
  justify-content: center;
}

.home-title h1 {
  text-align: center;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.home-title p a {
  margin-top: 50px;
  self-align: center;
}

.bg-subtitle {
  display: none;
}

.sm-subtitle {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.page-title h1 {
  margin: 50px 0 50px 0;
  font-size: 40px;
  font-weight: 800;
}

.crag {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  margin: 30px 0;
}

.crag img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.crag-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.grade-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grades {
  padding: 0 20px;
  display: flex;
}

.grades p {
  font-size: 20px;
}

.grade {
  font-weight: 700;
  margin-right: 10px;
}

.store-items {
  column-count: 2;
  column-gap: 1em;
}

.item-container {
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: inline-block;
  margin: 1em 0 1em;
}

.item-container img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.item-desc {
  padding: 25px;
}

.cart-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
}

.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px;
}

.price p {
  margin: 10px;
}

.checkout-cont {
  padding: 30px 0 50px 0;
  align-content: flex-end !important;
}

.checkout {
  align-self: flex-end !important;
}

.subtotal {
  border-top: 3px solid black;
}

.footer {
  width: 100%;
  background-color: #261C1D;
  padding: 30px 10%;
  min-height: 10vh;
}

.footer-links {
  color: rgba(255,255,255,.5);
}

.footer-links:hover {
  color: rgba(255,255,255,1);
}

.footer-links:visited {
  color: rgba(255,255,255,.5);
}

@media only screen and (min-width: 600px) {
  .store-items {
    column-count: 3;
  }

  .cart-container {
    flex-direction: row-reverse;
  }

  .price {
    flex-grow: 1;
  }

  .items {
    flex-grow: 2;
  }
}

@media only screen and (min-width: 900px) {

  .home-tron {
    justify-content: flex-start;
  }

  .home-tron h1 {
    text-align: left;
  }

  .home-tron .container {
    width: 80%;
    justify-content:  flex-start;
  }

  .bg-subtitle {
    display: block;
  }

  .sm-subtitle {
    display: none;
  }

  .crag {
    flex-direction: row;
  }

  .crag img {
    width: 50%;
    height: auto;
    border-radius: 15px 0 0 15px;
  }

  .crag-info {
    justify-content: center;
  }

  .store-items {
    column-count: 4;
  }

}

@media only screen and (min-width: 1200px) {
  .store-items {
    column-count: 5;
  }
}
